
#article_list td:first-child {
    text-align: right;
    width: 40px;
}
#article_list td:first-child + td {
    text-align: center;
    width: 100px;
}
#article_list td:first-child + td + td {
    text-align: left;
    white-space: normal;
}
#article_list td:first-child + td + td + td {
    text-align: center;
    width: 150px;
}
#article_list td:first-child + td + td + td + td {
    text-align: left;
    width: 76px;
}
#article_list td:first-child + td + td + td + td + td {
    text-align: center;
    width: 70px;
}
