
#link_list td:first-child {
    text-align: right;
    width: 40px;
}
#link_list td:first-child + td {
    text-align: left;
    width: 290px;
    white-space: normal;
}
#link_list td:first-child + td + td {
    text-align: left;
    white-space: normal;
}
#link_list td:first-child + td + td + td {
    text-align: center;
    width: 70px;
}
