
#nav,
.nav,
#nav .nav li {
    margin: 0;
    padding: 0;
}
#nav li {
    float: left;
    display: inline;
    cursor: pointer;
    list-style: none;
    padding: 0 4px;
    position: relative;
}
#nav li ul.first {
    left: -1px;
    top: 100%;
}
#nav .nav li {
    width: 100%;
    text-indent: 4px;
    line-height: 24px;
    margin-right: 4px;
    background: #FEFEFE;
}
#nav li a {
    display: block;
    width: inherit;
    height: inherit;
}
ul.nav {
    display: none;
}
#nav > li > ul li:hover > a,
#nav > li > ul li:hover {
    background: #F3F3F3;
}
li:hover > .nav {
    display: block;
    position: absolute;
    width: 120px;
    top: -2px;
    left: 50%;
    z-index: 1000;
    border: 1px #AFAFAF solid;
}
#nav li:hover {
    position: relative;
    z-index: 2000;
}
#nav li.right {
    float: right;
    text-align: right;
    width: 100px;
}
#nav li.right ul {
    margin-left: -12px;
}
#nav li.right li {
    width: 116px;
    padding-right: 4px;
}
#nav li.right a {
    text-align: right;
}
